# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv-specific
Pipfile.lock

# VS Code settings
.vscode/

# Test cache
.pytest_cache/
.cache/

# Python distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
# Usually contains build artifacts
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
